/* Базовые стили*/
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;

}
/*помощь в разметке*/
* {
  outline: 1px solid orange;
}
/*помощь в разметке*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list-style-none li {
  list-style: none;

}
.wrapper {
 width: 1200px;
 margin-left: auto;
 margin-right: auto;
 box-shadow: 0 0 10px;
 display: flex;
 flex-direction: column;
}

/* Шапка страницы */
.page-header {
  background-color: #669ec0;
  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding-bottom: 79px;

}

.main-navigation  {
  position: relative;
  background-color: #ffffff;
  height: 56px;

}

.main-navigation a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  width: 239px;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  align-items: center;
  height: 100%;

}

.site-navigation a {
  color:#000000;
  background-color: #ffffff;
}

.site-navigation li {
  width: 200px;
}

.main-navigation a:hover,
.main-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #81b3d2;
  color: #ffffff;
}
.logo-image {
  position: absolute;
  left: 50%;top: 0;
  z-index: 11;
  margin-left: -70px;
}
.welcome-image {
  margin-top: 76px;
  /*можно ли перенести ширину и высоту из инлайна*/
}

.polygon-image {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /*прозрачный нижний край?*/
}

/* основное содержимое*/
.page-index {
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description h2 {
  font-size: 21px;
  line-height: 26px;
  width: 440px;
}

.description p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.description p:last-child {
  margin-bottom: 56px;
}

.advantages ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.advantages li {
  display: flex;
}

.main-advantages .advantages{
  padding-left: 0;
}

.additional li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 400px;
}

.index-true,
.index-bridge {
  color: #ffffff;
  background-color: #81b3d2;
  background-position: 0 0;
  background-repeat: repeat;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-true h3 {
  width: 140px;
}

.index-true p {
  width: 285px;
}

.accommodation p {
  width: 252px;
}

.food p {
  width: 286px;
  }

.souvenir p {
  width: 273px;
}

.index-bridge h3 {
  width: 165px;
}

.index-bridge p {
  width: 303px;
}

.area h3 {
  width: 120px;
}

.area p {
  width: 208px;
}

.road h3 {
  width: 120px;
}

.road p {
  width: 262px;
}

.tourists h3 {
  width: 120px;
}

.tourists p {
  width: 246px;
}












li h3 {                  /*подумать с чем объединить*/
  font-size: 21px;
  line-height: 21px;
}

.area,
.road,
.tourists {
  background-color: #eeeeee;
  background-position: 0 0;
  background-repeat: repeat;
  width: 400px;
  /* padding-bottom: 30px; */
  /* padding-top:  10px; */

}

.interested {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-top: 57px;
  width: 434px;
}

.interested p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 52px;
  width: 434px;
}
/*Попап форма поиска гостиницы*/
.search-hotels {
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-position: center;
  font-size: 14px;
  font-weight: bold;
  /*выровнять по центру?*/
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.form {
  width: 568px;
}



.search-hotels label,
.search-hotels input[type="date"],
.search-hotels input[type="number"] {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  line-height: 26px;
}

.search-hotels input[type="date"],
.search-hotels input[type="number"] {
  width: 346px;
  background-color: #f2f2f2;
  border: none;
  /*вставить иконку календаря*/
}

.search-hotels input[type="number"] {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  /*вставить иконку календаря*/
}

.search-hotels button[type="button"] {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

/*Кнопка поиск гостиницы*/
.search-button {
  width: 568px;
  height: 86px;
  background: #766357;
  border: none;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.search-button:hover {
  background-color: #604e43;
  }

.search-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  }


  /*Кнопка Найти*/
  .blue-search-button {
    width: 458px;
    height: 58px;
    background: #81b3d2;
    border: none;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    }

  .blue-search-button:hover{
    background-color: #669ec0;
    }

  .blue-search-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
    }

.row {
  display: flex;
  justify-content: space-between;
}

.row div {
  padding: 0 43px;
}

.interactive-map {
  position: relative;
}

/*Подвал*/
  .page-footer {
    background-color: rgba(225, 225, 225, 0.9);

    width: 100%;
  }

.contacts p {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.copyright p {
  font-size: 14px;
  vertical-align: middle;
  font-weight: normal;
  box-shadow: 0px 5px 15px 0 var(--dark-forest-green-20);
}

.social-networks {
  display: flex;
  justify-content: space-between;

}

.social-networks li {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  align-items: center;
}

.twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-footer .conteiner {
display: flex;
justify-content: space-around;
width: 1200px;
}

.contacts {
  margin: 0;
  min-height: 120px;
  width: 300px;

}

.social-networks {
  margin: 0;
  padding: 0;
  min-height: 120px;
  width: 300px;
  justify-content: center;
  align-items: center;

}

.copyright {
  margin: 0;
  min-height: 120px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;

 }

 /* страница отелей */


 .page-header-hotels {
    padding: 0;
    margin: 0;
    background-color: #669ec0;
    background-image: url(../img/filter-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    padding-bottom: 562px;
  }

  .container-filter-hotels {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }
  /* Фильтры  выбора инфраструктуры и жилья */

  .infrastrukture,
  .housing {
    width: 330px;
    margin: 50px auto; /* для демо */
    color: #912525;
    text-transform: uppercase;
  }

  .filter-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }

  /* Фильтр  Range с 2 ползунками */

  .filter-range {
    width: 330px;
    margin: 50px auto; /* для демо */
    color: #912525;
    text-transform: uppercase;
  }

  .filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }

  .price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }

  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);

  }

  .price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
  }

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.feature-results {
  display: flex;
  flex-direction: row;
}

.feature-results h3 {
  font-size: 12px;
  font-weight: normal;
  width: 75px;
  margin-right: 40px;
}

.feature-results h2 {
  width: 115px;
  margin-left: 72px;
  margin-right: 49px;
}

.feature-results  ul {
  display: flex;
  font-size: 12px;
  font-weight: normal;
  width: 100%;
  justify-content: space-between;

}

.feature-filter .dashed {
  text-decoration: none;
  text-align: left;
  border-bottom: 1px dashed #81b3d2;
}

.feature-filter .active-link {
  border: none;
  color: #81b3d2; /*не работают стили для ссылок*/
}

.feature-sort {
  display: flex;

}

.hotel-results {
  padding: 0;
  margin:  0;
  display: flex;
  flex-direction: column;
}


.hotel-two,
.hotel-three {
  display: flex;
  flex-direction: row;
  padding-left: 72px;
}

.hotel-one {
  display: flex;
  flex-direction: row;
}

.hotel-one ul{
height: 100%;
}
