body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

/* Шапка страницы */
.main-navigation a {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.main-navigation,
.navi {
  list-style: none;
  display: flex;
  justify-content: center;
}

.main-navigation a,
.navi a {
  color:#000000;
  background-color: #ffffff;
  list-style: none;
  display: flex;
  justify-content: center;
}

.main-navigation a:hover,
.main-navigation a:focus,
.navi a:hover,
.navi a:focus {
  background-color: #81b3d2;
  color: #ffffff;
}
/* основное содержимое*/
.description h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.description p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

.index-true {
  color: #ffffff;
  background-color: #81b3d2;
  background-position: 0 0;
  background-repeat: repeat;
  width: 400px;
  height: 256px;
  text-align: center;
}

.true-city {
  text-align: center;
}

li h3 {
  font-size: 21px;
  line-height: 21px;
}

.area,
.road,
.tourists {
  background-color: #eeeeee;
  background-position: 0 0;
  background-repeat: repeat;
  width: 400px;
  height: 256px;
  text-align: center;
  padding-top: 50px;
}
/*форма*/
.interested {
   text-align: center;
}


.interested h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.interested p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
/*Кнопка*/
.search-button {
  width: 568px;
  height: 86px;
  background: #766357;
  border: none;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  }

  .search-button:hover,
  .search-button:focus {
    background-color: #604e43;
  }

  .search-button:active {
    background-color: #503e33;
  }
/*Подвал*/
  .page-footer {
    background-color: rgba(225, 225, 225, 0.9);
    width: 1200px;
    height: 120px;
  }

.page-footer p {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: left;
  

}


.twitter {
  background-image: url("../img/twitter.svg");
}

.facebook {
  background-image: url("../img/facebook.svg");
}

.youtube {
  background-image: url("../img/youtube.svg");
}























.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
